
nav{
    background-color: rgb(4, 110, 101);
    width: 100%;
    height: 60px;
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 0 20px;
    color: white;
    position: fixed;
}

.nav-links{
    display: flex;
    gap: 200px;
    margin-left: auto;
    list-style: none;
    color: #fafafa;
    text-decoration: none;

}

.nav-links a{
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 4px;
}


.Home{
    text-decoration: aliceblue;
    margin-left: auto;
    gap: 5px;
}

.About{
    color: aliceblue;
    margin-left: auto;
    gap: 5px;
}

.Staff{
    color: aliceblue;
    margin-left: auto;
    gap: 5px;
}

.Contact{
    color: aliceblue;
    margin-left: auto;
    gap: 5px;
}



*{
   margin:0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}

/* .nav-image{
    width: 200px;
    height: 100px;
    object-fit: cover;
} */

.container{
    display: flex;
    justify-content: space-around;
    padding: 40px;
    gap: 20px;
}

.pic{
    background: #eee;
    padding: 15px;
    width: 30%;
    border-radius: 8px;
    text-align: center;
}

.pic{
    width: 100%;
    border-radius: 5px;
   margin-bottom: 10px;
}

.about{
    display: flex;
    align-items: flex;
    gap: 20px;
    padding: 40px;
}

.about-image{
    width: 250px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

.about-text{
   max-width: 700px;
}

.about-text h2{
    color: purple;
    margin-bottom: 10px;
}

.staff{
    padding: 40px;
    text-align: center;
}

.staff{
    color: purple;
    margin-bottom: 20px;
}

.staff-container{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap:wrap;
}

.staff-card{
    width: 220px;
    height: 280px;
    object-fit: cover;
    border-radius: 6px;
}

.staff-card{
    width: 100%;
    border-radius: 6px;
}

.staff-card{
    margin-top: 8px;
    margin-top: 8px;
    font-weight: bold;
}
html{
    scroll-behavior: smooth;
}


.big-bottom{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.big-bottom img{
    width: 500px;
    height: 600px;
    
}

.bottom-text{
    width: 50%;
    padding: 20px;
    background-color: rgb(4, 110, 101);
    color: white;
    border-radius: 8px;
}